extends ../layouts/home.jade

block Main
    h1 #{PageTitle}

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, impedit?

    ul
        li: a Link One
        li: a Link Two
        li: a Link Three
        li: a Link Four
        li: a Link Five
