//- Configurações
- var PageTitle = "Skeleton Jade"
- var PageSubTitle = "Structure for template jade"
- var MetaAuthor = "Sustentacao Web - Grupo Edson Queiroz"
- var MetaDescription = "Basic front-end structure for template jade"

//- Google Fonts
- var GoogleFonts = 'League+Script|Playfair+Display:400,700|Open Sans:400,700'
